/*! Set the body and the html to have no padding, borders or margin.*/
body {
  margin: 0 auto;;
  padding: 0px;
  padding-top: 70px;
  border: 0px;
  box-sizing: border-box;
  background-color: burlywood;
}
/*! Move the text in the navbar to the centre*/
.container-fluid{
 /*margin-left: 41%;*/
}

.navbar-header {
  
}

.maincontent {

}

/*! Set the sidebar to be a certain width and to always display on the left.*/
.sidebar{
  float: right;
  min-width: 25%;
  max-width: 25%;
  margin-left: 10px;
  padding: 10px;
  background-color: antiquewhite;
}

.ShareButtons img{
  width: 40px;
  border: 0px;
  box-shadow: 0;
  display: inline;
}

.clearfix:after {
  content: “.”; display: block; height: 0; clear: both;, visibility: hidden;
  }

.clearfix{
  display: inline-block;
}

/**********************!
*      HOME PAGE       *
***********************/

/*! Style the photo on the home page.*/
#N-S-L_Photo{
  width: 95%;
  height: 95%;
  margin-left: 10px;
  margin-top: : 10px;
}
/*! Style the username under the photo.*/
#username{
  margin-left: 39%;
  font-size: large;
}
/*! Style the div that the username is contained in.*/
#usernameDiv{
  padding-bottom: 50px;
}
/*! make the summary appear on the left of the aside.*/
#InsideSummary{
  margin-left: 50px;
  padding-left: 50px;
}

/*! make the social links apear in the centre.*/
#SocialLinksDiv{
  padding-top: 10px;
  margin-left: 29%;
}

/**********************!
*    Portfolio PAGE   *
***********************/



/**********************!
*     CONTACT PAGE     *
***********************/
